<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="这是一个描述">
    <meta http-equiv=refresh content="20>"
    <title>nihao</title>
</head>
<body>
    <!-- <h1>这是注释</h1> -->
    <h1>dada</h1>
    <h2>xiaoxiao</h2>  
    <br> (换行)
    <hr>（水平线）
    <p><strong>aaa</strong></p>
    <hr>
    <a href="http://www.baidu.com" target="_blank">baidu</a>
    <img src="first_app\static\img\桥.jpg">

    <div>
        <u1>
            <li>1</li>
            <li>2</li>
        </u1>
    </div>

    <div>
        <ol>
            <li>1</li>
            <li>2</li>
        </ol>
    </div>

    <form>
        <input type="text" name="xingm" v>
    </form>
    <iframe src="https://www.baidu.com" width="500" height="1000"></iframe>


    <table border="1">
        <thead>
            <td>
                a
            </td>
            <td>
                b
            </td>

        </thead>
        <tbody>
            <td>22</td>
            <td>33</td>
        </tbody>
    </table>

</body>
</html>